<connectionStrings>
  <!--- Acesso Local  -->
  <add name="DefaultConnection" connectionString="Data Source=DESKTOP-GJ1QFNP\SQLEXPRESS;Initial Catalog=sasql;Integrated Security=False;Persist Security Info=False;User ID=sa;Password=24689012"
    providerName="System.Data.SqlClient" />
  <!--- Acesso Remoto SmartAsp -->
  <!--<add name="DefaultConnection" connectionString="Data Source=SQL5094.site4now.net;Initial Catalog=db_a9bf72_sasql;Integrated Security=False;Persist Security Info=False;User ID=db_a9bf72_sasql_admin;Password=#Rkpz373" 
    providerName="System.Data.SqlClient" />-->
</connectionStrings>