<connectionStrings>
  <!--- Acesso Local  -->
  <add name="BeYourMarketContext" connectionString="Data Source=DESKTOP-GJ1QFNP\SQLEXPRESS;Initial Catalog=sasql;Integrated Security=False;Persist Security Info=False;User ID=sa;Password=24689012"
    providerName="System.Data.SqlClient" />
  <add name="DefaultConnection" connectionString="Data Source=DESKTOP-GJ1QFNP\SQLEXPRESS;Initial Catalog=sasql;Integrated Security=False;Persist Security Info=False;User ID=sa;Password=24689012"
    providerName="System.Data.SqlClient" />
  <!--- Acesso Remoto  -->
  <!--<add name="DefaultConnection" connectionString="Data Source=bateaquihost.com.br;Initial Catalog=edwilson2205031746_sasql;Persist Security Info=True;;User ID=edwilson2205031746_sa;Password=#Rkpz373"
providerName="System.Data.SqlClient" />-->
  <!--- Acesso Produção  -->
  <!--<add name="DefaultConnection" connectionString="Data Source=localhost;Initial Catalog=edwilson2205031746_sasql;Persist Security Info=True;;User ID=edwilson2205031746_sa;Password=#Rkpz373"
  providerName="System.Data.SqlClient" />-->
</connectionStrings>