@model Plugin.Payment.Stripe.StripePlugin.Enum_StripeConnectStatus
@{
    ViewBag.Title = "Payment Settings";
}

@Html.Partial("_UserMessage")

<p>
    Para aceitar pagamentos, você precisa conectar sua conta <a href="https://stripe.com" target="_blank">Stripe</a> aos produtos.
</p>

@if (Model == Plugin.Payment.Stripe.StripePlugin.Enum_StripeConnectStatus.None)
{
    <p>
        <a href="@CacheHelper.StripeConnectUrl" class="stripe-connect">
            <span>Connect with Stripe</span>
        </a>
    </p>
}
else
{
    <form action="@Url.Action("PaymentSettingDeauthorize")" method="post">
        <button class="stripe-connect">
            <span>Disconnect with Stripe</span>
        </button>
    </form>
}

@section Scripts {    
    @Scripts.Render("~/bundles/jqueryval")
}