
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>FaleConosco</title>
</head>
<body>
    <div>
        FaleConosco
    </div>
</body>
</html>
