@{
    ViewBag.Title = "[[[Email não encontrado]]]";
}
	
<div class="main-section">
    <div class="container-fluid">
        <div class=" center-block col-md-6">
            <div class="panel panel-default mrg-t">
                <div class="panel-body bdr-b panel-header">
                    <h4>@ViewBag.Title</h4>
                </div>

                <div class="panel-body">
                    <div>
                        <p>
                            [[[Por favor, informe um email que esteja vinculado à sua conta na plataforma.]]]
                        </p>
                    </div>
                </div>
                <div class="panel-footer ">
                    @Html.ActionLink("[[[Criar Conta]]]", "Register")
                    <br />
                    @Html.ActionLink("[[[Esqueceu sua Senha?]]]", "ForgotPassword")
                </div>
            </div>
        </div>
    </div>
</div>